# SPDX-License-Identifier: MIT-0
---
# tasks file for nodeexporter
- name: Download and run nodeexporter script
  ansible.builtin.shell: curl -fsSL https://raw.githubusercontent.com/horrondor/Devops_final_project/refs/heads/observe/node_exporter/install_nodeexporter.sh | sh
  args:
    executable: /bin/bash
  register: nodeexporter_install

- name: Display nodeexporter install output 
  ansible.builtin.debug:
    msg: "{{ nodeexporter_install.stderr_lines }}" 