# SPDX-License-Identifier: MIT-0
---
# tasks file for nodeexporter
- name: Download and run nodeexporter script
  ansible.builtin.shell: curl -fsSL https://raw.githubusercontent.com/horrondor/Devops_final_project/refs/heads/observe/node_exporter/install_nodeexporter.sh | sh
  args:
    executable: /bin/bash
  register: nodeexporter_install

- name: Display nodeexporter install output 
  ansible.builtin.debug:
    msg: "{{ nodeexporter_install.stderr_lines }}" 

- name: Make a directory
  ansible.builtin.file:
    path: /etc/node_exporter
    state: directory
    owner: node_exporter
    group: node_exporter
    mode: '0755'


- name: Copy node_exporter config and TLS files
  ansible.builtin.copy:
    src: "/home/horrondor/Desktop/Devops_final_project/node_exporter/config/{{ item.name }}"
    dest: "/etc/node_exporter/{{ item.name }}"
    owner: node_exporter
    group: node_exporter
    mode: "{{ item.mode }}"
  loop: "{{ node_exporter_files }}"
  notify: Restart node_exporter


